<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body>
<div class="sendgrid">SendGrid</div>
<aside>
  <section>
    <a href="/"><img src="/images/office.jpeg" alt="Apollo Namalu"></a>
    <h2>Apollo Namalu</h2>
    <p>
      Follow me on
      <a href="https://twitter.com/EvNowAndForever">Twitter</a>,
      <a href="http://www.linkedin.com/in/apolloanamalu">LinkedIn</a>,
      <a href="https://github.com/anamalu">GitHub</a>,
      or send me an <a href="mailto:apollosmedia@gmail.com">email</a>.
    </p>
    <!--p>♪ <a href="https://www.youtube.com/watch?v=lW0LjxQ317U" target="_blank">Ravenscry</a></p-->
  </section>
</aside>

<main>
{% include menu.html %}
{{content}}
{% include footer.html %}
</main>

{% include scripts.html %}
</body>
</html>
